@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    143 S Main Street<br />
    Salt Lake City, UT 84111<br />
</address>

<address>
    <strong>General:</strong>   <a href="mailto:Test@student.neumont.edu">Test@student.neumont.edu</a>
</address>